# Ignore environment files
functions/modules/prerequisite_snowflake_data_upstream_load/.env

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
*.tfvars
terraform/dev/*.sh
terraform/dev/*.md

# Local test files
test.txt

.DS_Store

# in-process Python packages
**/batch_ingestion_lambda/


*.pem
venv/
.venv/

.cursor/
.DS_Store