# Ignore environment files
functions/modules/prerequisite_snowflake_data_upstream_load/.env

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
*.tfvars
terraform/dev/*.sh

# Local test files
test.txt

# in-process Python packages
**/batch_ingestion_lambda/